[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
generative-ai-hub-sdk = {extras = ["all"], version = "*"}
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
